@model indiedevlog.web.Models.UserPlanListingModel

@{
    ViewData["Title"] = $"{Model.UserDisplayName}";
}

<h1>latest updates for @Model.UserDisplayName</h1>

@foreach (var post in @Model.PlanUpdates)
{
    @Html.Partial("_PlanUpdate", post)

    <br />
}