@model List<indiedevlog.web.Objects.PlanUpdates.PlanUpdateResponseItem>

@{
    ViewData["Title"] = "Home";
}

<h1>latest updates</h1>

@foreach (var post in @Model)
{
   @Html.Partial("_PlanUpdate", post)

    <br/>
}