@model List<indiedevlog.web.EFModel.Objects.SPs.getUserProjectsSP>

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<div class="registerContainer">
    Enter your plan update below<br /><br />

    <form asp-action="CreateProject" method="post">
        <input asp-for="Subject" class="form-control" required placeholder="subject" /><br />
        
        <input type="submit" value="submit" class="btn btn-default" />
    </form>
</div>